@charset "UTF-8";
/**
 * author: Sheng JIANG
 * date: 2017-09-18
 */

//<editor-fold desc="reset">
body {
  font-size: 1rem;
  color: #333;
  margin: 0;
  background-color: #f5f5f5;
}

ol, ul, p {
  margin: 0;
  padding: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #2299ee;
  text-decoration: none;
  &:hover {

  }
}

//</editor-fold>

//<editor-fold desc="header">
.super-header {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 20px;
  height: 80px;
  background-color: #fff;
  .super-logo {
    display: flex;
    align-items: center;
  }
  .super-svg {
    background-image: url(assets/img/nova-logo.svg);
    background-size: cover;
    width: 64px;
    height: 64px;
    margin-right: 10px;
  }
  a {
    font-size: 30px;
    line-height: 40px;
    display: block;
  }
}

.super-menu {
  font-size: 16px;
  display: flex;
  height: 100%;
  li {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    a {
      padding: 0 20px;
      height: 100%;
      line-height: 80-4px;
    }
    &:hover:after,
    &.active:after {
      content: "";
      display: block;
      height: 4px;
      background-color: #2299ee;
    }
  }
}

//</editor-fold>

//<editor-fold desc="main">
.super-main {
  margin: 0 50px 20px 50px;
  background-color: #fff;
  border-radius: 10px;
}

.super-detail {
  display: flex;
}

.super-sidebar {
  padding: 10px 0;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  margin-right: 40px;
  color: #999;
  width: 200px;
  .list {
    top: 0;
    position: sticky;
    font-size: 16px;
  }
  a {
    font-size: 1.25rem;
    color: #333;
    &:hover {
      color: #2299ee;
      background-color: rgba(34, 158, 238, 0.1);
    }
  }
  li {
    line-height: 30px;
    &.active {
      border-right: 3px solid #29e;
      margin-right: -1px;
      a {
        color: #2299ee;
      }
      background-color: rgba(34, 158, 238, 0.2);
    }
  }
  .list > li {
    .super-sidebar-toggle {
      padding-left: 10px;
    }
    font-size: 1.25rem;
  }
  .list > li > ul > li {
    .super-sidebar-toggle {
      padding-left: 20px;
    }
    font-size: 1rem;
  }
  .list > li > ul > li > ul > li {
    .super-sidebar-toggle {
      padding-left: 30px;
    }
    font-size: 1rem;
  }
}

.super-sidebar-toggle {
  display: block;
  height: 30px;
  line-height: 30px;
}

.super-sidebar-dropdown {
}

#navigator {
  width: 200px;
  margin-left: 40px;
  border-left: 1px solid #eee;
}

//</editor-fold>

//<editor-fold desc="page">
#everything {
  width: 200px;
  flex-grow: 1;
  h1 {
    font-size: 28px;
    line-height: 40px;
    margin: 10px 0 20px 0;
  }
}

//</editor-fold>

//<editor-fold desc="footer">
.super-footer {
  display: flex;

  font-size: 16px;
  padding: 0 50px 100px 50px;
  background-color: #fff;
  height: 80px;
  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    margin-left: 10px;
  }
}

//</editor-fold>
